<!--Developed and Designed by Richa Khatri (B00792218)-->  

<div class="mt-85">
    
</div>
<div class="container">
    <!-- <div class="jumbotron jumbotron-fluid login-container"> -->
        <div>
            <h2>Change Password</h2>
          </div>
        <!-- <div class="container"> -->
            <form [formGroup]="changePasswordFormGroup">
              <ng-template matStepLabel>Change Password</ng-template>
              <div class="md-form" style="margin-left: -7px;">
                  <input type="password" mdbInputDirective matInput id="newPassword" placeholder="New Password" class="form-control" name="newPassword"
                    formControlName="newPassword"
                    [ngClass]="{'is-invalid':changePasswordFormGroup.get('newPassword').touched && changePasswordFormGroup.get('newPassword').invalid}">
                    <div
                    *ngIf="changePasswordFormGroup.get('newPassword').touched && changePasswordFormGroup.get('newPassword').invalid"
                    class="invalid-feedback">
                    <div *ngIf="changePasswordFormGroup.get('newPassword').errors.required">Password is
                      required</div>
                    <div *ngIf="changePasswordFormGroup.get('newPassword').errors.minlength">Password should
                      have at least 8 characters</div>
                  </div>
              </div>
              <div class="md-form">
                  <input type="password" mdbInputDirective matInput appConfirmEqualValidator="newPassword" id="confirmPassword"
                    placeholder="Confirm Password" class="form-control" name="confirmPassword"
                    formControlName="confirmPassword"
                    [ngClass]="{'is-invalid':changePasswordFormGroup.get('confirmPassword').touched && changePasswordFormGroup.get('confirmPassword').invalid}">
                    <div
                    *ngIf="changePasswordFormGroup.get('confirmPassword').touched && changePasswordFormGroup.get('confirmPassword').invalid"
                    class="invalid-feedback">
                    <div *ngIf="changePasswordFormGroup.get('confirmPassword').errors.minlength">Password should have at
                      least 8 characters</div>
                    <div *ngIf="changePasswordFormGroup.get('confirmPassword').errors.required">Password is
                      required</div>
                    <div *ngIf="changePasswordFormGroup.get('confirmPassword').errors?.notEqual">Password and Confirm
                      Password does not match</div>
                  </div>
              </div>
              <div class="row" style="margin-left: -12px;">
              <button mdbBtn type="submit" color="indigo" mdbWavesEffect (click)="onSubmit()"
              [disabled]="!changePasswordFormGroup.valid">Next</button>
              </div>
              <div class="md-form"></div>
            </form>
          <!-- </div> -->
      </div>
<!-- </div> -->



