<!-- Authored by Lakshmi Ponnuru [B00811623]-->
<!-- Modified by Richa Khatri [B00792218]-->
<div class="container mt-85">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <!-- Angular 7 Reactive Form Validations at https://jasonwatmore.com-->
          <h4 class="txt">Forgot Password</h4>
          <hr>
          <br>
          <br>
          <div class="container">
            <!--Form examples from https://mdbootstrap.com/docs/angular-->

            <form class="text-center border border-light p-5" name = "form" [formGroup]="ForgotPasswordForm">
  
    
                <div class = "form group" >
                <input type="email" id="Email" class="form-control" placeholder="Email" formControlName = "email" [ngClass] = "{'is-invalid': ForgotPasswordForm.get('email').touched && ForgotPasswordForm.get('email').invalid}"/>
                <div *ngIf = "ForgotPasswordForm.get('email').touched && ForgotPasswordForm.get('email').invalid" class="invalid-feedback">
                  <div *ngIf = "ForgotPasswordForm.get('email').errors.required">Email name is required</div>
                  <div *ngIf = "ForgotPasswordForm.get('email').errors.email ">Email should be a valid address like xxx@xxx.xxx</div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
              <!-- <div class="form-group" style="text-align:left;"> -->
                <button mdbBtn class="btn" (click)="onSubmit()" [disabled]="!ForgotPasswordForm.valid" type="submit">Submit</button>
              <!-- </div>   -->
              </div>
              <div class="col-md-4"></div>
            </div>
                <div class="alert alert-success" role="alert" *ngIf=submitted >
                    A activation link has been set on your email.
                  </div>
          
          </form>


            
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
